---
import '../styles/global.css'

const experiences = [
    {
        title: 'Desarrollador Backend',
        organization: 'Outside The Box',
        description: ' Responsable de diseñar, implementar y mantener servicios backend eficientes y escalables, utilizando tecnologías Node.js, Express y PostgreSQL. Trabajo en colaboración con equipo multidisciplinarios bajo metodologías ágiles para integrar soluciones que optimicen el rendimiento y la funcionalidad del sistema. También me encargo de la integración de APIs, el manejo de bases de datos, y la implementación de arquitecturas orientadas a microservicios, asegurando una alta calidad en el desarrollo de productos innovadores.',
        date: [new Date("2023-07-15"), new Date("2025-03-31")]
    },
    {
        title: 'Desarrollador Full-stack',
        organization: 'Freelance',
        description: 'Desarrollo integral de aplicaciones web para una gran variedad de proyectos y clientes.',
        date: [new Date("2023-02-01")]
    },
    {
        title: 'Tutor para diplomaturas en programación backend',
        organization: 'Universidad Nacional de Tres de Febrero',
        description: 'Acompañamiento pedagógico para estudiantes universitarios en el estudio de la programación backend y full stack, asistencia en el dictado de clases y corrección de trabajos.',
        date: [new Date("2024-03-01")]
    },
    {
        title: 'Desarrollador Backend',
        organization: 'Programador Promedio',
        description: 'Desarrollo de aplicación web para proyecto colaborativo en el entorno de las simulaciones de Programador Promedio.',
        date: [new Date("2024-02-01")]
    },
    {
        title: 'Desarrollador Backend',
        organization: 'No Country',
        description: 'Diseño y desarrollo de aplicaciones backend para proyectos colaborativos y una hackatón de la simulaciones laborales de No Country. Trabajo en conjunto en equipos con metodología ágiles.',
        date: [new Date("2023-11-01"), new Date("2024-08-29")]
    }
]

const convertDate = (date) => {
    const month = date.toLocaleString('default', { month: 'short', timeZone: 'UTC' });
    const year = date.getFullYear()
    return (month + " " + year)
}
---

<section id="experience">
    <div class="section-title-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-briefcase" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F42BF9" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
            <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
            <path d="M12 12l0 .01" />
            <path d="M3 13a20 20 0 0 0 18 0" />
        </svg>
        <h3 class='section-title'>Experiencia</h3>
    </div>
    <div class="experience-container">
        {experiences.map(({ title, organization, description, date }) => {
            return(
                <div class="experience-item">
                    <p class="experience-date">{convertDate(date[0])} - {date.length === 2 ? `${convertDate(date[1])}` : 'actualidad'}</p>
                    <h4>{title}</h4>
                    <h5>{organization}</h5>
                    <p class="experience-description">{description}</p>
                </div>
            )
        })}
    </div>
</section>

<style>
    section{
        margin: 10rem 0;
        padding-top: 4rem;
    }

    .experience-container{
        margin-top: 5rem;
        color: #fff;
    }

    .experience-item{
        margin-bottom: 3rem;
    }

    .experience-date{
        font-size: 13px;
        margin: 0;
        font-weight: 400;
        color: #999;
    }

    h4{
        font-size: 1.5rem;
        margin: 0;
    }

    h5{
        font-size: 1.25rem;
        color: #999;
        margin: 0;
    }

    .experience-description{
        font-size: 1rem;
        margin: 0;
        width: 70%;
        text-wrap: pretty;
    }

    @media screen and (max-width: 768px) {
        section{
            padding: 4rem 6rem 2rem;
        }

        .experience-container{
            margin-top: 5rem;
            color: #fff;
        }

        .experience-item{
            margin-bottom: 3rem;
        }

        .experience-date{
            font-size: 12px;
            margin: 0;
            font-weight: 400;
            color: #999;
        }

        h4{
            font-size: 1.2rem;
            margin: 0;
        }

        h5{
            font-size: 1rem;
            color: #999;
            margin: 0;
        }

        .experience-description{
            font-size: 14px;
            margin: 0;
            text-wrap: balance;
            width: 100%;
        }
    }

    @media screen and (max-width: 512px) {
        
        section{
            padding: 1rem 2rem;
        }

        .experience-container{
            margin-top: 3rem;
            padding: 0;
            color: #fff;
        }

        .experience-item{
            margin-bottom: 3rem;
        }

        .experience-date{
            font-size: 10px;
            margin: 0;
            font-weight: 400;
            color: #999;
        }

        h4{
            font-size: 1rem;
            margin: 0;
        }

        h5{
            font-size: 14px;
            color: #999;
            margin: 0;
        }

        .experience-description{
            font-size: 12px;
            margin: 0;
            text-wrap: balance;
            width: 100%;
        }
    }
</style>