---
import { Image } from 'astro:assets'
import '../styles/global.css'
import { getEntry } from 'astro:content';

const lang = Astro.props.lang
const content = (await getEntry('projects', lang)).data;
const projects = content.projects
 
---

<section id='projects'>
    <div class="section-title-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-script" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F42BF9" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M17 20h-11a3 3 0 0 1 0 -6h11a3 3 0 0 0 0 6h1a3 3 0 0 0 3 -3v-11a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v8" />
        </svg>
        <h3 class='section-title'>{content.title}</h3>
    </div>
    <div class="projects-container">
        {projects.map(({title, description, techs, img, url, repository}) => {
            return (
                <div class="project-item">
                    <h4 class="project-title">{title}</h4>
                    <p class="project-description">{description}</p>
                    <div class="techs-container">
                        {techs.map(tech => {
                            return (
                                <Image src={`/images/icons/${tech}.svg`} alt={`${tech} icon`} width={25} height={25}  loading="lazy" title={tech} class='tech-item' />
                                )
                            })
                        }
                    </div>
                    <div class="project-img-container">
                        <Image src={img} alt="" class="project-img" width={100} height={100} loading="eager" />
                        <button class="visit-btn">
                            <a href={url} target="_blank" class="project-link">{ content.buttons.view }</a>
                        </button>
                        <button class={repository ? "repository-btn": "repository-btn disabled"}>
                            <a href={repository} target="_blank" class="repository-link">{ content.buttons.repository }</a>
                        </button>
                    </div>
                    <a href={repository} target="_blank" class="under-repository-link">Ver repositorio</a>
                </div>
            )
        })}
    </div>
</section>



<style>
    section{
        margin: 5rem 0;
        padding-top: 4rem;
    }

    .projects-container{
        margin: 4.5rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        color: #fff;
        width: 100%;
        gap: 4rem 3rem;
    }

    .project-item{
        display: flex;
        flex-direction: column;
        width: calc(30vw - 2rem);
        min-width: 20rem;
        max-width: 35rem;
        margin: 0 auto;
    }

    .project-title{
        font-size: 1.15rem;
        margin: 0;
        color: #cecece;
    }

    .project-description{
        font-size: 0.9rem;
        font-weight: 200;
        max-height: 10rem;
        overflow-y: scroll;
        padding-right: 0.5rem;
    }

    .project-description::-webkit-scrollbar {
        width: 4px; 
    }

    .project-description::-webkit-scrollbar-thumb {
        background-color: #F42BF999; 
        border-radius: 6px; 
    }

    .project-description::-webkit-scrollbar-thumb:hover {
        background-color: #F42BF9ff; 
    }

    .techs-container{
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-top: auto;
    }

    .tech-item{
        height: 25px;
    }

    .project-img-container{
        border-radius: 20px;
        overflow: hidden;
        height: 16rem;
        aspect-ratio: 16 / 9;
        position: relative;
        margin: 10px 0;
        transition: all 0.5s ease;
        z-index: 10;
    }

    
    .visit-btn, .repository-btn{
        position: absolute;
        height: 100%;
        width: 50%;
        background-color: transparent;
        color: transparent;
        transition: all 0.2s ease;
        border: none;
    }
    
    .visit-btn{
        left:0; top:0;
        color: transparent;
        z-index: 20;
    }
    
    .repository-btn{
        left:50%; top:0;
        color: transparent;
        z-index: 20;
    }

    .repository-btn.disabled{
        cursor: not-allowed;
    }
    
    .project-img-container button a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: inherit;
        font-size: 1.3rem;
        font-weight: 500;
    }
    
    .project-img-container:hover .visit-btn, .project-img-container:hover .repository-btn{
        backdrop-filter: brightness(0.5) blur(4px) saturate(0.5);
        color: #999;
        text-shadow: 0 1px 3px #161616;
    }

    .project-img-container:hover>.visit-btn:hover, .project-img-container:hover>.repository-btn:hover{
        backdrop-filter: brightness(0.9) blur(4px) saturate(0.6);
        color: #fff;
    }

    .project-img-container:hover>.repository-btn.disabled:hover{
        backdrop-filter: brightness(0.5) blur(4px) saturate(0.5);
        color: #999;
    }
    

    .project-img-container::after{
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        overflow: hidden;
        display:inline-block;
        background-color: #00000022;
        box-shadow: inset 0 0 7px #03030377;
    }

    .project-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s ease;
        transform: scale(1.2);
    }

    .project-img-container:hover .project-img{
        transform: scale(1);
    }

    .under-repository-link{
        color: #cecece;
        display: none;
    }

    @media screen and (max-width: 1024px) {
        .projects-container{
            margin: 4.5rem auto;
            gap: 4rem 1rem;
        }
        
        .project-description{
            font-size: 13px;
            font-weight: 200;
            max-height: 10rem;
            overflow-y: scroll;
            padding-right: 0.5rem;
        }   

        .visit-btn, .repository-btn{
            width: 100%;
        }
        
        .visit-btn{
            left:0; top:0;
            color: transparent;
            z-index: 20;
        }
        
        .repository-btn{
            display: none;
        }
        
        .project-img-container{
            height: 12rem;
        }

        .project-img-container button a{
            color: transparent;
        }
        
        .project-img-container:hover .visit-btn, .project-img-container:hover .repository-btn{
            backdrop-filter: none;
            color: transparent;
            text-shadow: none;
        }

        .project-img-container:hover>.visit-btn:hover, .project-img-container:hover>.repository-btn:hover{
            backdrop-filter: none;
            color: transparent;
        }
        

        .project-img-container::after{
            content:'';
            position:absolute;
            left:0; top:0;
            width:100%; height:100%;
            overflow: hidden;
            display:inline-block;
            background-color: #00000022;
            box-shadow: inset 0 0 7px #03030377;
        }

        .project-img{
            transform: scale(1);
        }

        .under-repository-link{
            color: #cecece;
            display: block;
        }
    }

    @media screen and (max-width: 768px) {
        .projects-container{
            gap: 6rem 1rem;
        }
        
        .project-item{
            width: calc(44vw - 2rem);
            min-width: 12rem;
            max-width: 35rem;
        }

        .project-description{
            font-size: 12px;
            font-weight: 200;
            max-height: 10rem;
            overflow-y: scroll;
            padding-right: 0.5rem;
        }   

        .visit-btn, .repository-btn{
            width: 100%;
        }
        
        .visit-btn{
            left:0; top:0;
            color: transparent;
            z-index: 20;
        }
        
        .repository-btn{
            display: none;
        }
        
        .project-img-container{
            height: 10rem;
        }

        .project-img-container button a{
            color: transparent;
        }
        
        .project-img-container:hover .visit-btn, .project-img-container:hover .repository-btn{
            backdrop-filter: none;
            color: transparent;
            text-shadow: none;
        }

        .project-img-container:hover>.visit-btn:hover, .project-img-container:hover>.repository-btn:hover{
            backdrop-filter: none;
            color: transparent;
        }
        

        .project-img-container::after{
            content:'';
            position:absolute;
            left:0; top:0;
            width:100%; height:100%;
            overflow: hidden;
            display:inline-block;
            background-color: #00000022;
            box-shadow: inset 0 0 7px #03030377;
        }

        .project-img{
            transform: scale(1);
        }

        .under-repository-link{
            color: #cecece;
            display: block;
            font-size: 14px;
        }
    }

    @media screen and (max-width: 512px) {
        .projects-container{
            margin: 4.5rem auto;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: space-between;
            color: #fff;
            width: 100%;
            gap: 4rem 3rem;
        }

        .project-item{
            width: 100%;
            min-width: 0;
            max-width: 18rem;
        }       

        .project-title{
            font-size: 1rem;
            margin: 0;
            color: #cecece;
        }

        .tech-item{
            height: 20px;
        }

        .project-description{
            font-size: 12px;
        }
        
        .project-img-container{
            border-radius: 6px;
            height: 8rem;
        }
    }

</style>